body {
background-color: blue;
}
h1 {
			color: white
			font: serif;
			text-align: left;
}

li  {

	color: grey;
	font: monospace;
	text-align: left;
}

h2 {

	color: white;
	font: fantasy;
	text-align: left;
}

title {

	color: white;
	font: sans-serif;
	text-align: center;
}