body {
background-color: red;
}
h1 {
			color: grey
			font: serif;
			text-align: left;
}

li  {

	color: grey;
	font: monospace;
	text-align: left;
}

h2 {

	color: white;
	font: fantasy;
	text-align: center;
}

title {

	color: white;
	font: sans-serif;
	text-align: center;
}